.header{
    background-image: url(https://t4.ftcdn.net/jpg/02/69/09/69/360_F_269096915_ZdBDh5VK5b4moAzWWLJceXRNTA5ECJXc.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center !important;
    align-items: center !important;
    padding-top:15rem ;
}